@import 'src/constants/colors';

.spinnerWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 376px) {
    top: 50vh;
  }
  svg {
    width: 100px;
    overflow: visible;
  }
  svg circle {
    stroke: $primary_color;
    transform-origin: 50px 50px;
    animation: spin 1.2s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}