$primary_color: #558FE6;
$primary_color_transparent: #558FE61A;
$error_color: #F46A6A;
$white_color: #FFF;
$background_primary_color: #F0F4F9;
$border_form_color: #E6ECF3;
$border_input_color: #CFD6DE;
$text_headline_color: #374353;
$grey_color: #96A1AC;
$star_color: #F1B44C;
$active_color: #E5EDFA;